* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: wheat;
}

.my {
    font-size: 40px;
    text-align: center;
    border-radius: 1000px;
}

.hii {
    font-size: 20px;
    padding-left: 20px;
}

.bbu {
    font-size: 35px;
    background-color: papayawhip;
    padding: 20px;
    font-size: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
}

.hello {
    font-size: 35px;
    background-color: papayawhip;
    padding: 20px;
    font-size: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
}

.bye {
    font-size: 35px;
    background-color: papayawhip;
    padding: 20px;
    font-size: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
}

.heyy {
    font-size: 35px;
    background-color: papayawhip;
    padding: 20px;
    font-size: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
}

.hey {
    font-size: 35px;
    background-color: papayawhip;
    padding: 20px;
    font-size: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
}

.he {
    font-size: 35px;
    background-color: papayawhip;
    padding: 20px;
    font-size: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
}